article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{margin:0;padding: 0}a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
img{border:0;}
figure{margin:0;}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}
button,input{line-height:normal;}
button,select{text-transform:none;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

/* PARAMETRES GENERAUX */
@font-face {
    font-family: "Raleway";
	src: url("Fonts/static/Raleway-Medium.ttf") format('truetype');
}

body {
    font-family: "Raleway" , "Arial" , "Sans serif";
    font-weight: bold;
}

#main_content {
    width: 1350px;
    margin: auto;
}

/* EN-TETE LOGO NAV BARRE */
.header_content {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.logo {
    padding-top: 20px;
    cursor: pointer;    
}

.navigation {
    display: -webkit-box;
    display: flex;
    font-size: 15px;
}

.navigation nav ul {
    display: -webkit-box;
    display: flex;
}

.navigation_tab {
    padding-top: 22px;
    margin-left: 40px;
    font-weight: normal;
    list-style: none;
}

.navigation_tab a {
    color: black;
    text-decoration: none;
}

.navigation_tab a:hover {
    padding-top: 30px;
    color: #0065fc;
    border-top: 2px solid #0065fc;
}

.sinscrire {
    margin-top: 37px;
    margin-left: 40px;
}

.sinscrire a {
    font-weight: bold;
    text-decoration: none;
    color: #0065fc;
}

.sinscrire a:hover {
    padding-top: 30px;
    color: #0065fc;
    border-top: 2px solid #0065fc;
}

/* BARRE DE RECHERCHES HEBERGEMENT */
.search_title {
    margin-top: 35px;
    margin-bottom: 11px;
    font-size: 20px;
}

.search_description {
    font-weight: normal;
    font-size: 15px;
}

.search_bar {
    display: -webkit-box;
    display: flex;
    height: 45px;   
    margin-top: 20px;
}

form {
    display: -webkit-box;
    display: flex;
}

.fas.fa-map-marker-alt {
    width: 15px;
    padding: 15px;
    text-align: center;
    font-size: 15px;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
}

 .search_bar input {
    padding-left: 15px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    border: 1px solid #f2f2f2;
    border-left: none;
    border-right: none;
}

.search_btn {
    width: 115px;
    border-radius: 0 15px 15px 0px;
    background-color: #0065fc;
}

.search_btn:hover {
    border: 1px solid #0065fc ;
    background-color: #f2f2f2;
}
   
.btn {
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 16px;
    line-height: 44px;
    padding: 0 12px;
}

.btn:hover {
    color: #0065fc;
}

#search_icon {
    padding: 17px;
    color: transparent;
    background-color: transparent;
    border: none;
}

/* FILTRES */
.filter_bar {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 40px;
}

.filter_title {
    margin: 0 23px 11px 0;
    font-size: 17px;
}

.filter {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 42px;
    margin: 0 23px 10px 0;
    border: 3px solid #f2f2f2;
    border-left: none;
    border-radius: 40px;
}

.filter:hover .filter_img {
    color: white;
    background-color: #0065FC ;
}

.filter:hover .filter_name {
    color: #0065FC ;
}

.filter a {
    text-decoration: none;
}

.filter_img {
    display: inline-block;
    text-align: center;
    width: 46px;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 35px;
}

.filter_name {
    padding-left: 8px;
    padding-right: 20px;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

/* INFORMATION */
.info {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 15px;
}

.fas.fa-info.fa-xs {
    width: 24px;
    height: 24px;
    line-height: 22px;
    text-align: center;
    margin-right: 13px;
    color: #0065fc;
    border: 2px solid #f2f2f2;
    border-radius: 26px;
}

.info span {
    font-weight: normal; 
    font-size: 16px;
}

/* CORPS DE PAGE SECTION HEBERGEMENT */
#Hebergements {
    display: -webkit-box;
    display: flex;
    margin-top: 40px;
}

#Hebergements section {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap; 
    width: 67%;
    margin-right: 40px;
    background-color: #f2f2f2;
    border-radius: 20px;
}

.hebergements_title {
    margin: 35px 0 20px 0px;
    padding-left: 4%;
    font-weight: bold;
    color: black;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

.hebergements_allcards {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    justify-content: space-evenly;
    width: 100%;
}

.cards1 {
    width: 27%;
    height: 173px;
    margin-bottom: 30px;
    padding: 4px;
    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 0 5px 15px lightgray;
    box-shadow: 0 5px 15px lightgray;
}

.cards1:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.img_cards1 {
    height: 105px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.cards1 a {
    text-decoration: none;
    color: black;
}

.cards1 h2 {
    margin: 2px 0 3px 12px;
    font-size: 15px;
}

.description1 {
    margin: 13px 0 0 12px;
    font-size: 13px;
    font-weight: normal;
}

.stars1 {
    margin: 7px 0 0 12px;
    font-size: 12px;
    color: #0065FC;
}

.fas.fa-star.grey {
    color: lightgray;
}

.plus {
    width: 100%;
    margin-bottom: 35px;
}

.afficherplus {
    padding-left: 4%;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.afficherplus:hover {
    color: #0065FC;
}

/* HEBERGEMENTS POPULAIRES */
.hebergementspop {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 30%;
    background-color: #f2f2f2;
    border-radius: 20px;
}

.hebergementspop_title {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-left: 9%;
}

.hebergementspop_title h2 {
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin: 35px 0 20px 0px;
    font-size: 20px;
}

.fas.fa-chart-line {
    margin-top: 37px;
    font-size: 20px;
    padding-right: 9%;
}

.herbergementspop_allcards {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

.cards2 {
    width: 80%;
    height: 118px;
    padding: 4px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 0 5px 15px lightgray;
    box-shadow: 0 5px 15px lightgray;
}

.cards2:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.cards2 a {
    display: -webkit-box;
    display: flex;
    color: black;
    text-decoration: none;
}

.bloc_img2{
    margin-right: 12px;
    width: 45%;
}

.img_cards2 {
    width: 100%;
    height: 118px;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}

.description2 {
    width: 182px;
}

.description2 h2 {   
    font-size: 15px;
    margin-bottom: 5px;
}

.description2 span {
    font-size: 13px;
    font-weight: normal;
}

.stars2 {
    margin-top: 28px;
    font-size: 12px;
    color: #0065FC;
}
.cards2:nth-child(1)
.stars2{
    margin-top: 46px;
}

/* ACTIVITES A MARSEILLE */
#Activites {
    margin-top: 65px;
    color: black;
    cursor: pointer;
}

.activites_title {
    margin-bottom: 20px;
    font-size: 20px;
}

.activites_content {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.activites_allcards {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 48%;
}

.activites_content a {
    text-decoration: none;
}

.card1 {
    width: 47%;
    height: 410px;
    background-color:white;
    border-radius: 20px 20px 20px 20px;
    -webkit-box-shadow: 0 5px 15px lightgray;
    box-shadow: 0 5px 15px lightgray;
}

.card1:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.img_card1 {
    width: 100%;
    height: 356px;
    margin-bottom: 11px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.bloc1 {
    width: 47%;
}

.card2 {
    width: 100%;
    height: 195px;
    margin-bottom: 40px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    -webkit-box-shadow: 0 5px 15px lightgray;
    box-shadow: 0 5px 15px lightgray;
}

.card2:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.img_card2 {
    width: 100%;
    height: 140px;
    margin-bottom: 14px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.card3 {
    width: 100%;
    height: 175px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    -webkit-box-shadow: 0 5px 15px lightgray;
    box-shadow: 0 5px 15px lightgray;
}

.card3:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.img_card3 {
    width: 100%;
    height: 120px;
    margin-bottom: 11px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.activites_allcards2 {
    display: -webkit-box;
    display: flex;
    width: 49%;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.card4 {
    width: 47%;
    height: 410px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    -webkit-box-shadow: 0 5px 15px lightgray;
    box-shadow: 0 5px 15px lightgray;
}

.card4:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.img_card4 {
    width: 100%;
    height: 356px;
    margin-bottom: 11px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.bloc2 {
    width: 47%;
}

.card5 {
    width: 100%;
    height: 185px;
    margin-bottom: 40px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    -webkit-box-shadow: 0 5px 15px lightgray;
    box-shadow: 0 5px 15px lightgray;
}

.card5:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.img_card5 {
    width: 100%;
    height: 130px;
    margin-bottom: 11px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.card6 {
    width: 100%;
    height: 185px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    -webkit-box-shadow: 0 5px 15px lightgray;
    box-shadow: 0 5px 15px lightgray;
}

.card6:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.img_card6 {
    width: 100%;
    height: 130px;
    margin-bottom: 11px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.description3 {
    margin-left: 15px;
    display: block;
    font-size: 15px;
    color: black;
}

/* PIED DE PAGE */
footer {
    width: 100%;
    background-color: #f2f2f2;
}
.footer_container {
    display: -webkit-box;
    display: flex;
    margin-top: 70px;
    padding: 3% 6%;
}

.footer_container h3 {
    font-size: 16px;
}

.footer_container a {
    margin-top: 50px;
    color: black;
    text-decoration: none;
}

.footer_tab {
    padding: 0;
}
.footer_tab li {
    padding: 5px 0;
    font-size: 15px;
    font-weight: normal;
    list-style: none;
}

.apropos {
    width: 33%;
}

.footer_tab {
    padding: 0;
}

.noshebergements , .assistance {
    width: 33%;
    padding-left: 10px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 1201px) and (max-width: 1400px) {
    #main_content {
        width: 1180px;
        margin: auto;
      } 
    .footer_container {
        padding: 3% 8%;
    }
    .cards2:nth-child(1)
    .stars2{
        margin-top: 28px;
    }

}
    
@media screen and (min-width: 993px) and (max-width: 1200px) {
    #main_content {
      width: 980px;
      margin: auto;
    } 
    #Hebergements , .filter_bar {
        flex-wrap: wrap;
    }
    .hebergements_title {
        padding-left: 4%;
    }
    #Hebergements section {
        width: 100%;
        margin-right: 0;
    }
    .cards1 {
        width: 28%;
    }
    .afficherplus {
        padding-left: 4%;
    }
    .hebergementspop {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        justify-content: center;
        width: 100%;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .hebergementspop_title {
        width: 100%;
        padding-left: 4%;
    }
    .fas.fa-chart-line {
        padding-right: 4%;
    }
    .herbergementspop_allcards {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-pack: justify;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 93%;
    }
    .cards2 {
        width: 47%;
        height: 156px;
        margin-bottom: 40px;
    }
    .bloc_img2 {
        width: 40%;
        margin-right: 22px;
    }
    .img_cards2 {
        width: 100%;
        height: 156px;
    }
    .description2 {
        width: 205px;
    }
    .description2 h2 {
        margin-bottom: 10px;
    }
    .stars2 {
        margin-top: 65px;
    }
    .cards2:nth-child(1)
    .stars2{
        margin-top: 65px;
    }
    .cards2:nth-child(2)
    .stars2{
        margin-top: 48px;
    }
    .activites_content {
        flex-wrap: wrap;
    }
    .activites_allcards {
        width: 100%;
    }
    .activites_allcards2 {
        width: 100%;
        margin-top: 40px;
    }
    .card1 , .bloc1 , .card4 , .bloc2 {
        width: 48%;
    }
    .footer_container {
        padding: 3% 10%;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    #main_content {
        width: 100%;
    }
    .logo, .navigation, .search, #Activites {
        margin: 0 4%;
    }
    .filter_bar {
        flex-wrap: wrap;
    }
    #Hebergements {
        flex-wrap: wrap-reverse;
    }
    #Hebergements section {
        width: 100%;
        margin-right: 0;
        margin-bottom: 40px;
        padding: 0 4%;
        border-radius: 0;
    }
    .hebergements_title {
        padding-left: 0;
    }
    .hebergements_allcards {
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
    .cards1 {
        width: 47%;
        height: 205px;
    }
    .cards1 h2 {
        margin-top: 10px;
    }  
    .img_cards1 {
        height: 120px;
    }
    .afficherplus {
        padding-left: 0;
    }
    .hebergementspop{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 40px;
        padding: 0 4%;
        border-radius: 0;
    }
    .herbergementspop_allcards {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-pack: justify;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
    }
    .hebergementspop_title {
       width: 100%; 
       padding-left: 0;
    }
    .fas.fa-chart-line {
        padding: 0;
    }
    .cards2 {
        width: 47%;
        height: 156px;
        margin-bottom: 40px;
    }
    .cards2:nth-child(1)
    .stars2{
        margin-top: 65px;
    }
    .bloc_img2{
        margin-right: 22px;
        width: 42%;
    }
    .img_cards2 {
        width: 100%;
        height: 156px;
    }
    .description2 {
        width: 205px;
    }
    .description2 h2 {
        width: 100%;
        margin-bottom: 10px;
    }
    .stars2 {
        margin-top: 65px;
    }
    .cards2:nth-child(2)
    .stars2{
        margin-top: 48px;
    }
    .activites_content {
        flex-wrap: wrap;
    }
    .activites_allcards {
        width: 100%;
    }
    .activites_allcards2 {
        width: 100%;
        margin-top: 40px;
    }
    .card1 , .bloc1 , .card4 , .bloc2 {
        width: 48%;
    }
    .footer_container {
        padding: 3% 4%;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    #main_content {
        width: 100%;
    }
    .search, #Activites {
        margin: 0 4%;
    }
    .logo {
        width: 105px;
        margin-left: 4%;
    }
    .navigation {
        margin: 0 4% 0 0;
    }
    .navigation nav ul {
        padding: 0;
    }
    form {
        width: 100%;
    }
    .filter_bar {
        flex-wrap: wrap;  
    }
    #Hebergements {
        flex-wrap: wrap-reverse;
        margin-right: 0;
    }
    #Hebergements section {
        width: 100%;
        margin-right: 0;
        margin-top: 70px;
        padding: 0 4%;
        border-radius: 0;
    }
    .hebergements_title {
        padding-left: 0;
        font-size: 21px;
    }
    .hebergements_allcards {
        width: 100%;
    }
    .cards1 {
        width: 100%;
        height: 270px;
    }
    .img_cards1 {
        height: 172px;
    }
    .cards1 h2 {
        width: 100%;
        font-size: 17px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .description1 {
        margin-top: 5px;
        font-size: 16px;
    }
    .stars1 {
        margin-top: 10px;
        font-size: 15px;
    }
    .afficherplus {
        padding-left: 0;
        font-size: 18px;
    }
    .hebergementspop {
        width: 100%;
        margin-top: 0;
        padding: 0 4%;
        border-radius: 0;
    }
    .hebergementspop_title {
        width: 100%;
        padding-left: 0;
        font-size: 21px;
    }
    .hebergementspop_title  h2{
        font-size: 21px;
    }
    .fas.fa-chart-line {
        padding: 0;
    }
    .herbergementspop_allcards {
        width: 100%;
        padding-bottom: 6%;
    }
    .cards2 {
        width: 100%;
        height: 185px;
    }
    .description2 h2 {
        font-size: 17px;
        margin-bottom: 18px;
    }
    .bloc_img2 {
        width: 45%;
        margin-right: 25px;
    }
    .img_cards2 {
        width: 100%;
        height: 185px;
    }
    .description2 {
        width: 50%;
    }
    .description2 span {
        font-size: 16px;
    } 
    .stars2 {
        margin-top: 70px;
        font-size: 15px;
    }
    #Activites {
        margin-top: 70px;
        padding: 0;
    }
    .activites_title {
        font-size: 21px;
    }
    .activites_content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
    }
    .activites_allcards {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        width: 100%;
    }
    .activites_allcards2 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        width: 100%;
    }
    .bloc1 , .bloc2 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0;       
    }
    .card1 , .card2 , .card3 , .card4 , .card5 , .card6 {
        width: 100%;
        height: 280px;
        margin: auto;
        margin-bottom: 30px;
    }
    .img_card1 , .img_card2 , .img_card3 , .img_card4 , .img_card5 , .img_card6 {
        height: 220px;
        margin-bottom: 15px;
    }
    .description3{
        margin-left: 15px;
        font-size: 17px;
        color: black;
        font-weight: bold;
    }
    .footer_container {
        -webkit-box-pack: justify;
        justify-content: space-between;
        padding: 3% 0 3% 4%;
    }
    .apropos , .noshebergements , .assistance {
        width: 25%;
    }
}

@media screen and (max-width: 480px) {
    #main_content {
        width: 100%;
    }
    .search, #Activites {
        margin: 0 5%;
    }
    .logo {
        position: absolute;
        width: 105px;
        margin-left: 4%;
    }
    .navigation {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        flex-direction: column-reverse;
        width: 100%;
        font-size: 18px;
    }
    .navigation nav {
        margin: 0;
    }
    .sinscrire a {
        float: right;
        padding-right: 5%;
    }
    .navigation ul {
        padding: 0;
        margin: 0;
    }
    .navigation_tab {
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
        margin-left: 0;
        border-bottom: 3px solid #f2f2f2;
    }
    .navigation_tab:hover {
        border-top: none;
        color: #0065fc;
        border-bottom: 3px solid #0065fc;
    }
    .navigation_tab a:hover {
        border-top: none;
        padding-bottom: 0px;
    }
    .sinscrire a:hover {
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
        -webkit-transition: 0.4s;
        transition: 0.4s;
        padding-top: 0;
        border: none;
    }
    .search_title {
        font-size: 21px;
    }
    .search_description {
        font-size: 18px;
    }
    .search_bar {
        height: 55px;
    }
    form {
        width: 100%;
    }
    .fas.fa-map-marker-alt {
        width: 38px;
        padding: 17px;
        font-size: 20px;
    }
    .search_bar input {
        width: 100%;
        font-size: 18px;
    }
    #search_icon {
        width: 72px;
        border: none;
        left: -10px;
        position: relative;
        font-size: 20px;
        color: white;
        background-color: #0065fc;
        border-radius: 18px;
    }
    .search_btn {
        display: none;
    }
    .filter_bar {
        flex-wrap: wrap;
    }
    .filter_title {
        width: 100%;
        margin-bottom: 15px;
        font-size: 18px;
    }
    .filter {
        height: 50px;
    }
    .filter_img {
        width: 55px;
        height: 55px;
        line-height: 55px;
        font-size: 17px;
    }
    .filter_name {
        padding: 0 15px 0 10px;
        font-size: 17px;
    }
    .fas.fa-info.fa-xs {
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 14px;
    }
    #Hebergements {
        flex-wrap: wrap-reverse;
    } 
    #Hebergements section {
        width: 100%;
        margin-top: 40px;
        margin-right: 0;
        padding: 0 5% 8% 5%;
        background-color: transparent;
    }
    .hebergements_title {
        padding-left: 0;
        font-size: 21px;
    }
    .hebergements_allcards {
        width: 100%;
    }
    .cards1 {
        width: 100%;
        height: 270px;
        margin-bottom: 20px;
    }
    .img_cards1 {
        width: 100%;
        height: 165px;
        margin-bottom: 5px;
    }
    .cards1 h2 {
        margin: 10px 0 10px 12px ;
        font-size: 17px;
    }
    .description1 {
        margin: 10px 0 0px 12px;
        font-size: 16px;
    }
    .stars1 {
        margin: 10px 0 0px 12px;
        font-size: 15px;
    }
    .afficherplus {
        padding-left: 0;
        font-size: 18px;
    }
    .plus {
        margin-bottom: 0;
        margin-top: 20px;
    }
    .hebergementspop {
        width: 100%;
        padding: 0 5% 8% 5%;
        border-radius: 0;
    }
    .hebergementspop_title {
        padding: 0;
    }
    .hebergementspop_title h2 {
        font-size: 21px;
    }
    .fas.fa-chart-line {
        padding: 0;
        font-size: 21px;
    }
    .cards2 {
        width: 100%;
        height: 190px;
        margin-bottom: 20px;
    }
    .img_cards2 {
        width: 100%;
        height: 190px;
    }
    .description2 h2 {
        font-size: 17px;
        margin-bottom: 18px;
    }
    .bloc_img2 {
        margin-right: 20px;
    }
    .description2 {
        margin-top: 10px;
    }
    .description2 span {
        font-size: 16px;
    }
    strong {
        font-weight: normal;
    }
    .stars2 {
        margin-top: 35px;
        font-size: 15px;
    }
    .cards2:nth-child(1)
    .stars2{
        margin-top: 35px;
    }
    .container_activities {
        margin-top: 40px;
    }
    .activites_content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
    #Activites {
        padding: 0;
        margin-top: 40px;
    }
    .activites_title {
        margin: 0 0 25px 0;
        padding-left: 0;
        font-size: 21px;
    }
    .activites_allcards {
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 20px;
    }
    .card1 , .card2 , .card4 , .card5 {
        width: 100%;
        height: 270px;
        margin-bottom: 20px;
    }
    .img_card1 , .img_card2 , .img_card3 , .img_card4 , .img_card5 , .img_card6 {
        height: 200px;
        margin-bottom: 20px;
    }
    .description3 {
        font-size: 17px;
    }
    .bloc1 , .bloc2 {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        width: 100%;
    }
    .card3 , .card6 {
        width: 100%;
        height: 270px;
    }
    .activites_allcards2 {
        width: 100%;
        flex-wrap: wrap;
    }
   .footer_container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        height: 100%;
        padding: 3% 5%;
   }
   .footer_container h3 {
        font-size: 18px;
   }
   .footer_tab li {
        padding: 5px 0;
        font-size: 16px;
   }
   .apropos {
       width: 100%;
       padding-bottom: 0;
   }
   .noshebergements {
       width: 100%;
       padding-left: 0;
   }
   .assistance {
       width: 100%;
       padding: 0;
   }
}
















